@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fancy-font: "Allura", cursive;
    --sans-sherif-font: "Inter", sans-sherif;
    --nav-height: 60px;
    --text-color: black;
}

#content {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}

/* Navbar section */

nav {
    height: var(--nav-height);
    overflow: hidden;
    padding: 0 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
}

.logo {
    font-family: var(--fancy-font);
    font-size: 2rem;
}

.buttons-container {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}

.open-button,
.close-button {
    position: absolute;
    cursor: pointer;
    height: 2.5rem;
    transition: all 0.3s;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.nav-menu-container {
    display: grid;
    transition: opacity 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
}

.nav-fullscreen {
    visibility: visible;
    opacity: 1;
    justify-content: center;
    align-content: end;
    grid-template-columns: min-content;
    background-color: #ffffffcc;
    padding: calc(var(--nav-height)*2) 0;
    position: absolute;
    top: var(--nav-height);
    right: 0;
    bottom: 0;
    left: 0;
}

.nav-fullscreen>* {
    display: grid !important;
}

.nav-menu {
    list-style: none;
    display: none;
    gap: 30px;
    font-size: 1.2rem;
    font-family: var(--sans-sherif-font);
    text-align: center;
    letter-spacing: 0.5px;
}

.nav-menu>li {
    opacity: 0;
}

.nav-menu-open>li {
    transform: translateY(-20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition-delay: 0.1s;
    opacity: 1;
}

.nav-menu-open>li:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-menu-open>li:nth-child(3) {
    transition-delay: 0.4s;
}

.nav-menu-open>li:nth-child(4) {
    transition-delay: 0.5s;
}

.tab {
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;
}

.active-tab,
.tab:hover {
    transition-delay: 0s !important;
    transition: border-bottom 0.3s;
    border-bottom: 1px solid var(--text-color);
}

/* Main section */
main {
    display: grid;
}

.home-page {
    background-image: url('./hero.jpg');
    background-size: cover;
}

/* Desktops and tablets */

@media only screen and (min-width: 600px) {
    .open-button {
        display: none;
    }

    .nav-menu-container {
        visibility: visible;
        opacity: 1;
    }

    .nav-menu {
        display: flex;
        font-size: 1rem;
    }

    .nav-menu>li {
        opacity: 1;
    }
}